<title>Webpage to Image</title>

<style>
</style>

<body>
    <header>
        <div class="title-bar"><h2>Webpage to Image</h2></div>
    </header>
    <div class="container">
        <div class="info close" id="info">
            <h3>Info</h3>
        </div>
        <div class="wrapper">
            <div class="div-input" style="">
                <input id="webpageUrl" type="text" placeholder="Type your webpage URL" />
            </div>
            <div class="div-button">
                <button id="webpageButton" onclick="return generateImage(event)">
                    Generate Image
                </button>
            </div>                
        </div>
    </div>
</body>
<script src="./axios/axios.min.js"></script>
<script>

    webpageUrl.addEventListener("keydown", (evt) => {
        if(evt.key == "Enter")
            generateImage(evt)
    })

    function generateImage(evt) {
        evt.preventDefault()

        showLoading(true)
        disableButton(true)

        if(webpageUrl.value.length === 0) {
            showLoading(false)
            info.innerHTML = `
                <h3>Error</h3>
                Please, Type in the webpage URL.
            `
            info.classList.add("info-danger")
            info.classList.remove("close")

            setTimeout(() => {
                info.classList.add("close")
                info.classList.remove("info-danger")
            }, 3000)
        } else
            axios.post("api/screenshot", { url: webpageUrl.value } ).then( res => {
                showLoading(false)
                const { result } = res.data
                const blob = new Blob([result], {type: 'image/png'})
                const link = document.createElement('a')
                link.href = window.URL.createObjectURL(blob)
                link.download = `your-file-name.png`
                link.click()
            }).catch(err => {
                showLoading(false)

                // err

                info.innerHTML = `
                    <h3>Error</h3>
                    ${err}
                `
                info.classList.add("info-danger")
                info.classList.remove("close")
                setTimeout(() => {
                    info.classList.add("close")
                    info.classList.remove("info-danger")
                }, 3000)
            })

        disableButton(false)
    }

    function showLoading(show) {
        if(show == true) {
            webpageButton.innerHTML = "wait..."
        } else {
            webpageButton.innerHTML = "Generate Image"
        }
    }

    function disableButton(disable) {
        if(disable == true) {
            webpageButton.setAttribute("disable", true)
        } else {
            webpageButton.removeAttribute("disable")
        }
    }
</script>
...
